.counter {
  display: flex;
  justify-content: space-around;

  .item {
    color: red;
    &__completed {
      color: green;
    }
  }
}

@media screen and (min-width: 768px) {
  .counter {
    margin: 25px 0 0 25px;
    flex-basis: 40%;
  }
}
